@model MyPortfolioDotNet.Models.Project

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Link)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Link)
        </dd>
    </dl>
</div>

@if (Model != null && Model.ProjectTechnologies != null && Model.ProjectTechnologies.Any())
{
    <h4>Technologies</h4>
    <div class="row">
        <ul>
            @foreach (var tech in Model.ProjectTechnologies)
            {
                <li>@tech.Technology.Name</li>
            }
        </ul>
    </div>
}

@if (Model.Images != null && Model.Images.Any())
{
    <h4>Images</h4>
    <div class="row">
        @foreach (var image in Model.Images)
        {
            <div class="col-md-3">
                <img src="@image.ImageUrl" alt="Project Image" class="img-thumbnail" />
            </div>
        }
    </div>
}
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
