@model IEnumerable<MyPortfolioDotNet.Models.Project>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Order Show
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Technology
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Link)
            </th>
            <th>
                Picture            
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderShow)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
                <td>
                    @if (item.ProjectTechnologies != null)
                    {
                        <ul>
                            @foreach (var tech in item.ProjectTechnologies)
                            {
                                <li>@tech.Technology.Name</li>
                            }
                        </ul>
                    }
                </td>

            <td>
                @Html.DisplayFor(modelItem => item.Link)
            </td>
            <td>
                    @if (item.Images != null && item.Images.Any())
                    {
                        @foreach (var pic in item.Images)
                        {
                            <img src="@pic.ImageUrl" width="100px" height="50px" />

                        }
                    }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    
}
    </tbody>
</table>
